<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :platform_id %>
    <%= form.collection_select(:platform_id, Platform.all.order(:name), :id, :name, class: 'form-control') %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
