<tr>
  <td><%= feature.service_id %></td>
  <td><%= feature.service.name %></td>
  <td><%= feature.service.platform.name %></td>
  <td><%= link_to 'Show', feature_path(feature) %></td>
  <td><%= link_to 'Destroy', feature_path(feature), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
</tr>
