<div class="feature-title">
  <%= @feature.service.platform.name %> | 
  <%= @feature.service.name %>
</div>

<div class="card shadow mt-3">
  <div class="card-header">Data Mappings</div>

  <div class="card-body mx-3">
    <div class="row py-2">
      <div class="col mt-auto">Version</div>
      <div class="col mt-auto">Date</div>
      <div class="col mt-auto">Active</div>
      <div class="col mt-auto">Current Version</div>
      <div class="col mt-auto"></div>
    </div>

    <div id='mappings'>
      <%= render partial: 'features/service_format', collection: @feature.service_formats %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
